.polaris-device{
  height: 500px;
  width: 300px;
  background: black;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 50px auto;
  border-radius: 30px;
  padding: 20px;
}

.polaris-device-screen{
  height: 420px;
  width: 260px;
  background: #b1d171;
  margin: auto;
  left: 0;
  right: 0;
  padding: 5px;
  border-style: solid;
  border-width: 0px;
  border-color: red;
}

.polaris-device-button{
  height: 40px;
  width: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px auto;
  border-style: solid;
  border-width: 2px;
  border-color: #454545;
  border-radius: 25px;
}

.polaris-welcome-text{
    color: #046b00;
}

.polaris-welcome-block{
    margin: 50px 0 40px 10px;
}

.polaris-login-block{
    margin: 30px 0 40px 0;
}

.polaris-img-block{
    width: 180px;
    height: 180px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
}

.polaris-img-preview{
    width: 180px;
    height: 180px;
}

.polaris-btn-analyze{
    margin-top: 20px;
}

.polaris-diseases-detected{
    margin-bottom: 5px;
}

.polaris-details-table{
    width: 100%;
}

.polaris-disease-td{
    text-align: left;
}

.polaris-disease-pct-td{
    text-align: right;
}

.polaris-img-wait{
    width: 80px;
    height: 80px;
}

#wait-block-id{
    display: none;
}

#results-block-id{
    display: none;
}

#btn-analysis-id{
    display: none;
}

#diseases-details-id{
    display: none;
}